<nav id="menu" class="navbar navbar-dark navbar-fixed-top bg-verde">
    <div class="container">
        <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsivo"></button>
        <a href="#topo" class="navbar-brand p-0 page-scroll float-xs-none">
            <img src="assets/img/logo.png" height="40">
        </a>
        <div class="collapse navbar-toggleable-sm float-sm-right" id="navbarResponsivo">

            <ul class="nav navbar-nav bg-verde">
                <li class="nav-item">
                    <a href="#oque-aprenderei" class="nav-link link-black page-scroll">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="#deguste" class="nav-link link-black page-scroll">ENROL</a>
                </li>
                <li class="nav-item">
                    <a href="#vantagens" class="nav-link link-black page-scroll">LEARN</a>
                </li>
                <li class="nav-item">
                    <a href="#comprar" class="btn btn-black">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>