<div class="container modulebar">
    <div class="row">
        <div class="col-md-12">
            <h2><b>Module 1: </b>Get to know your dairy farm business</h2>
            <div class="card-text  rounded">
                <h4 class="card-title" style="margin-top:10px">Your first learning module is now live!</h4>
                <h6 class="card-subtitle-tt">You should complete this module by 8pm Friday when it will be closed for
                    marketing and a new module released Monday next week.</h6>
                <p></p>
                <h6 class="card-subtitle-tt">If you have questions or comment please use the web chat feature. We attend
                    this chat each Tuesday at 8-8:30pm.</h6>
                <h6 class="card-subtitle-tt">Otherwise we aim to respond within one business day.</h6>
                <p></p>
                <h6 class="card-subtitle-tt">Have fun.</h6>
            </div>
        </div>
        <div class="col-md-12">
            <h2><b>Task 4: </b>Life on the Farm</h2>
            <div>
                <h4 class="card-title">All you need to know about farming</h4>
                <h6 class="card-subtitle-tt">Click and read the following articles and answer the question below.</h6>
                <p></p>
                <div class="col-md-12" style="text-align:left">
                    <a href="" class="btn btn-link">Being A farmer</a>
                </div>
                <div class="col-md-12">
                    <a href="" class="btn btn-link">Life on The Farm</a>
                </div>
                <h4 class="card-title">Question:</h4>
                <h6 class="card-subtitle-tt">In terms of dairy farming in New Zealand, when does sprint start?</h6>
                <p></p>
                <h4 class="card-title">Answer</h4>
                <div class="card-text  rounded"></div>
            </div>
        </div>
    </div>
</div>